<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    <input
      type="email"
      placeholder="Email Address"
      required
      formControlName="email"
    />
    @if(form.get('email')?.touched&&form.get('email')?.invalid){
    <div class="error">
      @if (form.get('email')?.errors?.['required']) {
      <small>Email Address is required.</small>
      } @else if (form.get('email')?.errors?.['pattern']) {
      <small>Invalid email address.</small>
      }
    </div>
    }
    <input
      type="password"
      placeholder="Password"
      required
      formControlName="password"
    />
    @if(form.get('password')?.touched&&form.get('password')?.invalid){
    <div class="error">
      @if (form.get('password')?.errors?.['required']) {
      <small>Password is required.</small>
      }
    </div>
    }
    <button type="submit">Login</button>
    <p class="signup-link">
      Don't have an account?
      <a [routerLink]="['/seller']">Sign Up</a>
    </p>
  </form>
</div>
